* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

#workspaces button {
    margin: 0;
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button:hover {
    border-top: 2px solid white;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.focused:hover, #workspaces button.focused {
    margin: 0;
    padding: 0 5px;
    color: #ff616e;
    border-top: 2px solid #ff616e;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode, #disk {
    padding: 0 3px;
    margin: 0 3px;
    background: transparent;
    color: white;
}

#clock {
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}

